.container-g3 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 2000px;
  height: auto;
  
}

.container-g4 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 2800px;
  height: auto;
  
}
.container-g5 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 3900px;
  height: auto;
  
}
.container-g6 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 4700px;
  height: auto;
  
}
.container-g7 {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 5800px;
  height: auto;
  
}
