body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container {
    position: relative;
    font-size: 100%;
    height: 500%;
    width: 100%;
  }
  
  
  .topleft {
    position: absolute;
    top: 8px;
    margin-left: 50%;
    font-size: 18px;
  }
  
  .img { 
    width: 100%;
    height: auto;
    opacity: 0.9;
  }
  .h1bebas{
    font-family: 'Poppins';
    color: white;
  }
  
  .h2bebas{
    font-family: 'Poppins';
    color: white;
    font-size: 200%;
      
  }
  .vl {
    border-top: 2px solid rgb(220, 223, 220);
   width: 20%;
   margin-left: 40%;
    
  }
  .center {
    position: absolute;
    top: 48%;
    width: 40%;
    margin-left: 9%;
    text-align: center;
    font-size: 300%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(153, 188, 195, 0.5);
    opacity: 0.7;
    font-family: 'Poppins';
    
  }
  .center2 {
    position: absolute;
    top: 65%;
    width: 60%;
    margin-left: 9%;
    text-align: center;
    font-size: 120%;
    color: rgba(255, 255, 255, 1);
    background-color:#4e5157;
    font-family: 'Poppins';
    opacity: 0.7;
  
    
  }  
  
  .collection{
    text-align: center;
    margin-top: 30px;
    font-weight: 20px;
    font-size: 10px;
    color: #2b663a;
    font-family: 'Poppins';
  }
  
  .vl2 {
    border-top: 2px solid black;
   width: 20%;
   margin-left: 40%;
   font-family: 'Poppins';
  }
  
  .column2 {
    float: left;
    width: 50%;
    height: 600px;
    margin-top: 2%;
    font-family: 'Poppins';
    background-color: rgba(51, 44, 46, 1);
    padding: 10px;
   
     /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;;
  }
  
  .about{
    font-size: 30px;
    margin-top: 18%;
     color: white;
     font-family: 'Poppins';
  }
  
  .p2{
    font-size: 10px;
    font-family: 'Poppins';
    margin-top: 1%;
    color: white;
    
  
  }
  .readmore{
    background-color: rgba(242, 146, 29, 0.9);
    width: 100px;
    font-family: 'Poppins';
  color: white;
  margin-top: 2%;
  padding: 1%;
  text-align: center;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .column3 {
    float: left;
    width: 50%;
    padding: 18px;
    font-family: 'Poppins';
    height: auto;
     /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row3:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .img2 { 
    width: 70%;
    margin-left: 45%;
    height: auto;
    opacity: 0.9;
    font-family: 'Poppins';
    padding-bottom: 5%;
  }
  .img12 { 
    width: 80%;
    margin-left: 40%;
    font-family: 'Poppins';
    height: 450px;
    opacity: 0.9;
    padding-bottom: 2%;
  }
  .img3 { 
    
    width: 68%;
    margin-left: 24%;
    height: auto;
    opacity: 0.9;
    padding-bottom: 5%;
  }
  .img13 { 
    width: 80%;
    margin-left: 18%;
    height: 450px;
    opacity: 0.9;
    padding-bottom: 5%;
  }
  .me{
    position: fixed;
  
    background-color: black;
  }
  
  a:hover {
    color: #fcb603;
  }
  
  a:active {
    color: #fcb603;
  } 
  
  .links{
    padding: 18px;
  }
  .link{
    padding: 8px;
    font-family: 'Poppins';
    
  
  }
  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color:white
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .text-center{
    font-family: 'Poppins';
    color: rgba(242, 146, 29, 1);
    font-size: 20px;
 }

/* Create two equal columns that floats next to each other */
.column5 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row5:after {
  content: "";
  display: table;
  clear: both;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column  {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column  {
      width: 100%;
    }
  }
  @media screen and (max-width: 750px){
    .h1bebas{
      font-size: 4px;
    }
    .h2bebas{
      font-size: 1%;
        
    } 
    .vl {
      border-top: 1px solid rgb(220, 223, 220);
     width: 20%;
     margin-left: 40%;
      
    }
    
  .center {
    top: 30%;
    width: 40%;
    font-size: 60%;
   }
   .center2 {
    top: 50%;
    width: 50%;
    margin-left: 25%;
    font-size: 10%;
  
  }
  
  .center3 {
    top: 77%;
    width: 18%;
    margin-left: 40%;
    text-align: center;
    font-size: 7%;
    color: white;
    padding-top: 0.2%;
    padding-bottom: 0.3%;
   
  
  }
  
  }