
.column2 {
    float: left;
    width: 50%;
    height: 600px;
    margin-top: 2%;
    font-family: 'Poppins';
    background-color: rgba(51, 44, 46, 1);
    padding: 10px;
   
     /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;;
  }
  
  .about{
    font-size: 30px;
    margin-top: 18%;
     color: white;
     font-family: 'Poppins';
  }
  
  .p2{
    font-size: 10px;
    font-family: 'Poppins';
    margin-top: 1%;
    color: white;
    
  
  }
  .readmore{
    background-color: rgba(242, 146, 29, 0.9);
    width: 100px;
    font-family: 'Poppins';
  color: white;
  margin-top: 2%;
  padding: 1%;
  text-align: center;
  }
  a{
    text-decoration: none;
    color: white;
  }
  

.img2 { 
    width: 70%;
    margin-left: 45%;
    height: auto;
    opacity: 0.9;
    font-family: 'Poppins';
    padding-bottom: 5%;
  }
  .img12 { 
    width: 80%;
    margin-left: 40%;
    font-family: 'Poppins';
    height: 450px;
    opacity: 0.9;
    padding-bottom: 2%;
  }
  .img3 { 
    
    width: 68%;
    margin-left: 24%;
    height: auto;
    opacity: 0.9;
    padding-bottom: 5%;
  }
  .img13 { 
    width: 80%;
    margin-left: 18%;
    height: 450px;
    opacity: 0.9;
    padding-bottom: 5%;
  }  